{% extends "layout.html" %} {% block title %}Dashboard{% endblock %} {% block
main %}
<div class="container p-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Company Name</th>
        <th scope="col">Symbol</th>
        <th scope="col">Shares</th>
        <th scope="col">Stock Price</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      {% if flag %} {% for stock in stocks %}
      <tr>
        <td>{{ stock.company }}</td>
        <td>{{ stock.symbol }}</td>
        <td>{{ stock.amount }}</td>
        <td>${{ stock.price }}</td>
        <td>${{ stock.total_price }}</td>
      </tr>
      {% endfor %} {% else %}
      <tr>
        <td>---</td>
        <td>---</td>
        <td>---</td>
        <td>---</td>
        <td>---</td>
      </tr>
      {% endif %}
      <tr>
        <th scope="row">Cash</th>
        <td colspan="3"></td>
        <td>${{ cash }}</td>
      </tr>
      <tr>
        <td colspan="4"></td>
        <td>${{ total }}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
